body {
	padding-left: 20px;
	overflow-x: hidden;
}

#arrayContainer, #arrayListContainer, #LLContainer, #stackContainer {
	display: none;
}

#dsArray, #dsArrayList, #dsLinkedList, #dsStack {
	display: inline;
    width: 200px;
    margin: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter;
	font-size: 18px;
}

.actionNavs {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	width: 100px;
	border-color: black;
}

.actionNavs:hover {
	color: black;
}

#navbtn {
	font-family: 'Open Sans', sans-serif;
	top: 280px;
    position: absolute;
}

.sidenav {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: #fbf4f6;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 50px;*/
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: dimgray;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

#createNew {
	padding-bottom: 60px;
}

#elements {
	display: flex;
	overflow-x: scroll;
	width: 50%;
	min-width: 50%;

	position: absolute;
    /*left: 400px;*/
    top: 325px;
    /*right: 20px;*/
}

#stackElements {
	overflow-y: scroll;
	width: 50%;
	min-width: 50%;
	height: 50%;

	position: absolute;
    right: -40px;
    top: 100px;

    overflow-x: hidden;
}

.elems {
	border: 1px solid #DB7093;
	background-color: #f2f2f2;
	padding: 20px;
	font-size: 20px;
	width: 50px;
	min-width: 50px;
	min-height: 25px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: #f2f2f2;
    transition: color 2s ease 0s;
}

.LLelems {
	height: 80px;
	width: 80px;
	background-color: #f2f2f2;
	border: 1px solid #DB7093;
	border-radius: 50%;
	text-align: center;
	line-height: 78px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #f2f2f2;
}

.LLarrow {
	display: inline-block;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 30px;
    transition: opacity 3s;
}

.stackElems {
	border: 1px solid #DB7093;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 20px;
    width: 200px;
    min-width: 200px;
    height: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    line-height: 10px;
}

@keyframes flash {
  /*0%   {background-color: red;
  		border: 3px solid #800080;}*/
  /*25%  {background-color: red;*/
  		/*border: 3px solid #800080;}*/
  50%  {/*border: 3px solid #800080;*/
  		background-color: #404040;
  		color: white;}
  100% {/*border: 1px solid #DB7093;*/
  		background-color: #f2f2f2;
  		color: black;}
}

@keyframes peek {
  /*0%   {background-color: red;
  		border: 3px solid #800080;}*/
  /*25%  {background-color: red;*/
  		/*border: 3px solid #800080;}*/
  50%  {/*border: 3px solid #800080;*/
  		background-color: #DB7093;}
  100% {/*border: 1px solid #DB7093;*/
  		background-color: #f2f2f2;}
}

@-webkit-keyframes slide {
    100% { float: right; }
}

@keyframes slide {
    100% { right: -800px; }
}

/*#slide {
    position: absolute;
    right: -200px;
    width: 600px;
    height: 370px;
    background: blue;
    -webkit-animation: slide 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}*/

#index0 {
	display: none;
	border-left: 1px solid brown;
	animation-name: flash;
	animation-duration: 1s;
}

#stackIndex {
	/*position: absolute;*/
    /*right: 200px;*/
	display: none;
	/*border-left: 1px solid brown;*/
	/*-webkit-animation: slide 0.5s backwards;
    -webkit-animation-delay: 2s;*/
    /*animation: slide 0.5s backwards;*/
    /*animation: slide 0.5s forwards;*/
    /*animation-delay: 1s;*/
	/*animation-name: flash;
	animation-duration: 1s;*/
}

#error, #positionError, #removeError {
	color: red;
}

#sizeDisplay {
	font-weight: bold;
	color: slategray;
	font-size: 50px;
	margin-left: 80px;
    margin-top: 10px;
}

input {
	width: 80px; /* Full width */
	height: 35px;
	padding: 12px; /* Some padding */  
	border: 1px solid darkgray; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical
}

p {
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin-right: 5px;
	margin-left: 5px;
}

#note {
	margin-top: 0px;
    font-size: 12px;
}

button {
	padding: 5px;
	border-radius: 4px;
	width: 270px;
	background-color: lightgray;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/*margin-left: 40px;*/
	display: block;
	margin-bottom: 40px;
	margin-top: 10px;
}

button:hover {
	background-color: snow;
}

#error {
	display: none;
}