body {
  margin: 0;
  padding: 0;
}

#container {
  min-height: calc(100vh - 200px);
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  color: dimgray;
  text-align: center;
  font-weight: 100;
}

p {
  color: dimgray;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

.tileHeading {
  display: inline;
  font-size: 16px;
  line-height: 1.8;
  color: #404040;
}

#content {
  padding-top: 20px;
}
#homehead {
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
}

#content p {
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 272px;
}

#leftHalf {
  background-image: url("../images/marble.jpg");
  width: 100%;
  height: 100vh;
  background-size: cover;
  min-height: 550px;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

#nav_bar {
  text-align: center;
  width: 100%;
  top: 10px;
  height: 40px;
  position: absolute;
  z-index: 100;
}

ul {
  list-style-type: none;
  position: relative;
  left: -40px;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  text-align: center;
}

li.nav {
  font-family: 'Quicksand', sans-serif;
  color: dimgray;
  text-align: center;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: dimgray;
  cursor: pointer;
}

a:hover {
  color: black;
}

li a,.dropbtn {
  font-family: 'Quicksand', sans-serif;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}

li.dropdown {
  display: inline;
}

.dropdown-content {
  background-image: url("../images/marble.jpg");
  opacity: 0.9;
  display: none;
  position: absolute;
  top: 40px;
  border-radius: 0px 0px 5px 5px;
  min-width: 100%;
  z-index: 1;
  padding: 20px;
}

.dropdown-content a {
  color: dimgray;
  padding: 8px;
  position: relative;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {color: black;}

.dropdown:hover .dropdown-content {
  display: block;
}

/***********/
/* about.html */
/***********/

#about-nav_bar {
  background-image: url("../images/marble.jpg");
  position: fixed;
  top: 0px;
  left: 0px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
  height: 40px;
  z-index: 5;
}

/*.cornerlogo > img {
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}*/

#bio-page {
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1350px;
}

#blog-page {
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.circle-crop {
  width: 50vw;
  height: 50vw;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 4%;
  max-width: 485px;
  max-height: 485px;
}

.circle-crop > img {
  display: inline;
  width: 60vw;
  height: auto;
  margin-left: -35px;
  margin-top: -45px;
  max-width: 607px;
  max-height: 910px;
}

#about-content {
  position: absolute;
  top: 120px;
  margin-left: 570px;
  margin-right: auto;
  width: 40vw;
  max-width: 650px;
}

#contentHead {
  text-align: left;
}

footer {
  background-image: url("../images/marble.jpg");
  width: 100%;
  height: 100px;

}

#iconbox {
  width: 490px;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
}

.icon {
  display: inline;
  margin-left: 3vw;
  margin-right: 3vw;
}

.icon:hover {
  opacity: 0.5;
}

#iconbox img {
  width:35px;
  height: 35px;
  margin: auto;
}

#datebox {
  color: dimgray;
  text-align: center;
  height: 10px;
  font-weight: bold;
  position: relative;
  bottom: 3px;
}

.footertext {
  font-family: 'Quicksand', sans-serif;
  color: dimgray;
  font-size: 12px;
  padding-bottom: 2px;
}

.icon-side {
  display: inline;
  margin-top: 20px;
}

.icon-side > img {
  width: 35px;
  height: 35px;
  margin: auto;
}

.icon-side:hover {
  opacity: 0.5;
}

#mySidenav a {
  width: fit-content;
}

.cornerlogo > img {
  position: absolute;
  top: 0px; 
  left: 15px;
  width: 70px;
  height: auto;
  overflow:hidden;
}

/***********/
/* blog.html */
/***********/


.bloghead {
  margin-top: 100px;
}

.blogpost {
  position: relative;
}

.blogpost > img:hover {
  opacity: 1;
  -o-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  -webkit-backface-visibility: hidden;
}

h2:hover {
  opacity: 1;
  transition: 0.7s, 0.7s;
}

h2.blogtext {
  font-family: 'Quicksand', sans-serif;
  font-weight: lighter;
  color: #404040;
  line-height: 1;
}

.blogpost > img {
  opacity: 0.7;
  -o-transition: opacity 0.7s ease;
  -moz-transition: opacity 0.7s ease;
  -webkit-transition: opacity 0.7s ease;
  transition: opacity 0.7s ease;
  -webkit-backface-visibility: hidden;
}

.blogheadtitle {
  text-align: center;
}

/***********/
/* contact.html */
/***********/

#contact_nav_bar {
  text-align: center;
  width: 100%;
  top: 10px;
  height: 40px;
  position: absolute;
  z-index: 1;
}

.contactform {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding-bottom: 40px;
  padding-top: 20px;
  max-width: 650px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #fbf4f6;
  color: dimgray;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: dimgray;
  color: white;
}



/* On screens that are 400px or less, set the nav bar to vertical */
@media only screen and (max-width: 675px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

  body {
    margin-top: 10px;
  }

  #content {
    display: none;
  }

  #nav_bar {
    position: absolute;
  }

  ul {
    position: absolute;
    text-align: center;
    padding-left: 40px;
    margin-top: 380px;
  }

  .tileHeading {
    font-size: 30px;
  }

  .name {
    margin-top: 0px;
    position: relative;
  }

  li.nav {
    display: block;
    padding-top: 20px;
  }

  .dropbtn {
    display: block;
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
  }

  .dropdown-content a {
    display: none;
  }

  .logo > img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
  }

  #about-nav_bar {
    display: none;
  }

  #bio-page {
    background-image: url("../images/marble.jpg");
    width: 100%;
    top: 0px;
    left: 0px;
    height: 20px;
    position: absolute;
    z-index: -1;
  }

  #blog-page {
    background-image: url("../images/marble.jpg");
    width: 100%;
    top: 0px;
    left: 0px;
    height: 20px;
    position: absolute;
    z-index: -1;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fbf4f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: dimgray;
    font-size: 18px;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: black;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #marblefooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    object-fit: cover;
  }

  footer {
    display: none;
  }

  #datebox-mobile {
    color: dimgray;
    text-align: center;
    height: 10px;
    font-weight: bold;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 15px;
  }

  .footertext-mobile {
    font-family: 'Quicksand', sans-serif;
    color: dimgray;
    font-size: 12px;
    padding-bottom: 2px;
  }

  .cornerlogo {
    position: absolute;
    right: 100px;
    top: 0;
  }


  .blogpost > img {
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    -o-transition: opacity 0.6s ease;
    -moz-transition: opacity 0.6s ease;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
    -webkit-backface-visibility: hidden;
  }

  #container {
    min-height: auto;
  }

  h2.blogtext {
    font-size: 5vw;
    min-width: 55%;
  }

  h2 {
    left: 8%;
    bottom: 320%;
    position: absolute;
    padding: 5% 10% 5% 10%;
    background-color: #fcf2f6;
    text-align: center;
    z-index: 100;
    opacity: 0.8;
    transition: 0.6s;
    max-width: 225.7px;
  }

  #blog-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    padding: 0% 15% 15% 15%;
    width: auto;
  }


  .blogimages > img {
    width: 100%;
    padding-bottom: 10px;
  }

  #post-content {
    position: relative;
    display: block;
    top: 100px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 15%;
  }

  #contact_nav_bar {
    display: none;
  }

  .contactform {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 40px;
    padding-top: 20px;
  }

}

@media only screen and (min-width: 1270px) {
  #about-content {
    margin-left: 700px;
  }

  .circle-crop {
    margin-left: 10%;
  }
}

@media only screen and (min-width: 675px) and (max-width: 1000px)  {

.logo > img {
  position: relative;
  display: block;
  max-width: 300px;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 30px;
}  

#navbtn {
  display: none;
}

#mySidenav {
  display: none;
}

#marblefooter {
  display: none;
}

#datebox-mobile {
  display: none;
}

.blogpost > img {
  width: 30%;
  height: auto;
  margin: 5%;
  min-width: 255px;
}

#blog-content {
  text-align: center;
  display: inline-block;
}


h2.blogtext {
  font-size: 12px;
  min-width: 105px;
}

h2 {
  left: 22.5%;
  bottom: 900%;
  position: absolute;
  padding: 2% 5% 2% 5%;
  background-color: #fcf2f6;
  text-align: center;
  z-index: 100;
  opacity: 0.8;
  transition: 0.6s;
}

.blogimages > img {
  width: 50%;
  float: left;
  padding-right: 20px;
  padding-bottom: 10px;
}

#post-content {
    position: relative;
    display: block;
    top: 100px;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 15%;
  }

}

/* On screens that are 1000px or less */
@media only screen and (max-width:1000px)  {

  #about-content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    padding: 0% 15% 15% 15%;
    width: auto;
  }

  .circle-crop {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
  }

  .circle-crop > img {
    width: 60vw;
    height: auto;
    margin-left: -20px;
    margin-top: -20px;
  }

  #contentHead {
    text-align: center;
  }
}

/* On screens that are 1000px or more */
@media only screen and (min-width:1000px) { /* hi-res laptops and desktops */

  .logo > img {
    position: relative;
    display: block;
    max-width: 300px;
    padding-top: 120px;
    margin-left: auto;
    margin-right: auto;
  }

  #navbtn {
  display: none;
  }

  #mySidenav {
    display: none;
  }

  #marblefooter {
    display: none;
  }

  #datebox-mobile {
    display: none;
  }

  .blogpost > img {
    width: 30%;
    min-width: 380px;
    max-width: 380px;
    height: auto;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
  }

  #blog-content {
    text-align: center;
    display: inline-block;
  }

  .blogtext {
    max-width: 137px;
  }

  h2.blogtext {
    font-size: 20px;
    min-width: 137px;
  }

  h2 {
    left: 25%;
    bottom: 1000%;
    position: absolute;
    padding: 20px 50px 20px 50px;
    background-color: #fcf2f6;
    text-align: center;
    z-index: 100;
    opacity: 0.8;
    transition: 0.6s;
    max-width: 133px;
    max-height: 33px;
  }

  .blogimages > img {
    position: relative;
    height: 100%;
    max-height: 541px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  #post-content {
      position: relative;
      top: 100px;
      padding-right: 10%;
      padding-left: 10%;
      padding-bottom: 15%;
      max-width: 830px;
      margin-left: auto;
      margin-right: auto;
  }

}

@media only screen and (min-width: 1700px) {

  .icon {
      display: inline;
      margin-left: 52px;
      margin-right: 52px;
  }

}
